*.o
*.d
*.swp
*.a
apps/decomp
apps/depacket
apps/extractDSMCC
apps/extractPIDS
apps/parseDSMCC
apps/parseDSMCCOC
apps/parser
apps/DSMCCprocess
apps/fifoparser
apps/sectionFilter
tags
apps/bin/
debian/files
debian/siengine-doc.debhelper.log
debian/siengine-doc.substvars
debian/siengine-doc/
debian/siengine.debhelper.log
debian/siengine.substvars
debian/siengine/
